<div class="menu-container">
  <div class="header">
    <h2>Menu List/h2>

    <div class="actions">
      <div>
        <button (click)="exportToExcel()">
          <span class="vscode-icons--file-type-excel"></span>
        </button>
      </div>
      <div class="row">
        <div class="col">
          <select class="from-select" [(ngModel)]="properties" multiple>
            <option value="convocation_release_date">Apertura</option>
            <option value="convocation_deadline_date">Cierre</option>
          </select>
        </div>
      </div>
    </div>

    <div class="stats">
      <div class="row">
        <div class="col">
          <input type="text" [(ngModel)]="filterProperty" class="form-control" name="filter" placeholder="Buscar ...">
        </div>
      </div>
      <div>
        Total Conv: <span>{{ totalConv }}</span>
      </div>
      <div>
        Conv. Abiertas: <span>{{ convAbiertas }}</span>
      </div>
    </div>
  </div>
  <table class="menu-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Estado</th>
        <th scope="col">Fecha Apertura</th>
        <th scope="col">Fecha Cierre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conv of menu | filter: filterProperty: properties">
        <td>
          <div class="convocation-id">
            <a [routerLink]="[conv.convocation_page_id]">{{ conv.convocation_page_id }}</a>
          </div>
        </td>
        <td>{{ conv.convocation_title }}</td>
        <td>{{ getmenutate(conv.convocation_deadline_date) }}</td>
        <td>{{ conv.convocation_release_date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ conv.convocation_deadline_date | date: 'dd/MM/yyyy' }}</td>
      </tr>

    </tbody>
  </table>
</div>