<div class="menu-container">
  <div class="header">
    <h2>Menu List</h2>

    <div class="actions">
      <div>
        <button (click)="openAddModal()">
          <span class="add_button">Agregar</span>
        </button>
      </div>
    </div>

  <table class="menu-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tamaño</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drink of menu">
        <td>{{ drink.name }}</td>
        <td>{{ drink.size }}</td>
        <td>{{ drink.price }}</td>
      </tr>
    </tbody>
  </table>
</div>